

</body>

<footer>
  <div>
      <a class="btn btn-outline-dark" href="https://github.com/swapnilsardeshmukh/Secrets/blob/master/README.md">READ ME</a>
      <a class="btn btn-outline-dark" href="mailto:sardeshmukhswapnil@gmail.com">CONTACT ME</a>
    </form>
    </div>
  Copyright 2020 Swapnil Sardeshmukh
</footer>

</html>
